<div class="filter-group">
  <h4 class="filter-group-summary">Género</h4>
  <div class="filter-group-display">
    <ul class="filter-list">
      <li class="filter-list-item">
        <label class="filter-label">
          <input type="checkbox" name="filter.p.tag" value="Homem" {% if search.terms contains 'Homem' %}checked{% endif %}>
          <span class="filter-checkbox"></span> Homem
        </label>
      </li>
    </ul>
  </div>
</div>
