<section class="newsletter container" aria-label="Newsletter">
  <div class="newsletter__box">
    <h3 data-i18n="news_title">Recebe novidades, promoções exclusivas e lançamentos <em>Le Bordeu</em>.</h3>
    <form action="/contact#newsletter" method="post" class="newsletter__form">
      <input type="email" name="contact[email]" placeholder="O teu email" data-i18n-placeholder="news_ph" required>
      <button class="btn btn--primary" data-i18n="news_btn">Subscrever</button>
    </form>
  </div>
</section>

{% schema %}
{
  "name":"Newsletter",
  "settings":[],
  "presets":[{"name":"Newsletter"}]
}
{% endschema %}
