<div class="size-guide">
  <h4>Guia de Tamanhos</h4>
  <p>Consulte as medidas para encontrar o tamanho ideal. Se estiver entre dois tamanhos, recomendamos escolher o maior.</p>
  <table class="size-table">
    <tr><th>Tamanho</th><th>Busto (cm)</th><th>Cintura (cm)</th></tr>
    <tr><td>S</td><td>84-88</td><td>66-70</td></tr>
    <tr><td>M</td><td>88-94</td><td>70-76</td></tr>
    <tr><td>L</td><td>94-100</td><td>76-82</td></tr>
  </table>
</div>
